//img-path
$img-path: "../images";

//font-size default
$defaultFont: 12px;

//cates-Color
$cates-color: #EA5A32 #A43A9D #3E3A39 #C07D2E #E16B8C #75852E #C03F40 #82B964 #258D6A #E39300 #63B2AF #339ECF #0757A2 #122B65 #F44D69;

$sub-cates-color: #F29F7F #D598D1 #C4C2C2 #D6AE7A #EBAEB5 #ACB682 #EC7375 #8DC88C #8DCEA8 #EEBE66 #87CDCF #82C5ED #70B0E1 #669BD3 #FBB8C3;


$cates-Name: "NeweggUSA" "Gift" "Design" "Fashion" "Beauty" "Healthcare" "Foods" "Sport" "Outdoor" "Lovely" "Living" "Appliance" "Digital" "Computer" "Default";

//colors

$gray-f2: #f2f2f2;
$gray-e0: #e0e0e0;
$gray-db: #dbdbdb;
$gray-d6: #d6d6d6;
$gray-d1: #d1d1d1;
$gray-cc: #ccc7cb;
$gray-b3: #b3b3b3;
$gray-85: #858585;
$gray-5f: #5f6465;
$gray-66: #666666;
$gray-33: #333333;
$gray-bd: #bdbdbd;
$gray-4d: #4d4d4d;
$gray-1a: #1a1a1a;
$gray-b5: #b5b5b5;
$gray-d3: #d3d3d3;
$gray-b4: #b4b4b4;
$gray-80: #808183;
$gray-5e: #5e5e63;

//red
$red-e1: #e17584;
$red-ca: #ca4042;
$red-cb: #cb192f;
$red-bd: #bd273a;
$red-b8: #b81d22;
$red-51: #510000;
$red-bd: #bd6465;

$orange-f7: #f7a574;
$orange-ec: #ec8b54;
$orange-f2: #f27326;
$orange-d3: #d37225;
$orange-f5: #f58e51;
$orange-fa: #fae8dc;
$orange-ea: #ea5a32;
$orange-f3: #f37225;

$green-33: #33bbb1;

//blue
$blue-69: #698eb8;
$blue-d5: #d5deea;
$blue-2b: #2b5a95;
$blue-17: #172d4b;
$blue-e1: #e1e8f1;

//yellow
$yellow-ff: #ffff00;
